<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,174},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>daoju_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,82},{90,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,114}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>jiaoyin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,82},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>jishiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,366}}</string>
                <key>sourceSize</key>
                <string>{366,366}</string>
            </dict>
            <key>role_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{78,127}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>spr_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,923},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>zhangai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,370},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>zhangai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,464},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>zhangai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{86,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>zhangai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,555},{92,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,156}}</string>
                <key>sourceSize</key>
                <string>{92,156}</string>
            </dict>
            <key>zhangai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>zz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
            <key>zz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,554},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
            <key>zz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
            <key>zz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
            <key>zz05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,284},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba41913d66a00d7e3ae3bfaf563b7be8$</string>
            <key>textureFileName</key>
            <string>plist_game.png</string>
        </dict>
    </dict>
</plist>
