<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>daoju_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,894},{90,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,114}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>jiaoyin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,176},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>jishiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,197},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{142,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,172}}</string>
                <key>sourceSize</key>
                <string>{142,172}</string>
            </dict>
            <key>role_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,797},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
            <key>role_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,652},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
            <key>role_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,736},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
            <key>role_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,591},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
            <key>role_right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,446},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
            <key>zhangai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,922},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>zhangai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,922},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>zhangai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{86,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>zhangai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,736},{92,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,156}}</string>
                <key>sourceSize</key>
                <string>{92,156}</string>
            </dict>
            <key>zhangai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,652},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>zz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,652},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
            <key>zz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
            <key>zz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,176},{105,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,268}}</string>
                <key>sourceSize</key>
                <string>{105,268}</string>
            </dict>
            <key>zz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,112},{105,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,268}}</string>
                <key>sourceSize</key>
                <string>{105,268}</string>
            </dict>
            <key>zz05.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,382},{104,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,268}}</string>
                <key>sourceSize</key>
                <string>{104,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77939d249362778f171982136304210a$</string>
            <key>textureFileName</key>
            <string>plist_game.png</string>
        </dict>
    </dict>
</plist>
