<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,212}}</string>
                <key>sourceSize</key>
                <string>{96,212}</string>
            </dict>
            <key>prop_block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,82},{90,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,47}}</string>
                <key>sourceSize</key>
                <string>{90,47}</string>
            </dict>
            <key>prop_block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,131},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>prop_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{36,82}</string>
            </dict>
            <key>role_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{78,127}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_game.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb2c1d121ae3d85de7bc2b2597f9234$</string>
            <key>textureFileName</key>
            <string>plist_game.png</string>
        </dict>
    </dict>
</plist>
