<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_chongxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,111},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,262},{116,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,139}}</string>
                <key>sourceSize</key>
                <string>{116,139}</string>
            </dict>
            <key>anniu_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,872},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,721},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,808},{187,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,94}}</string>
                <key>sourceSize</key>
                <string>{187,94}</string>
            </dict>
            <key>anniu_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,570},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,419},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,268},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_xiangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{161,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,213}}</string>
                <key>sourceSize</key>
                <string>{161,213}</string>
            </dict>
            <key>anniu_xiangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,593},{163,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,213}}</string>
                <key>sourceSize</key>
                <string>{163,213}</string>
            </dict>
            <key>anniu_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,446},{187,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,94}}</string>
                <key>sourceSize</key>
                <string>{187,94}</string>
            </dict>
            <key>anniu_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,117},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,837},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>anniu_zhuyie.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,686},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>daoju_chongci.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,446},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>daoju_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{133,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,103}}</string>
                <key>sourceSize</key>
                <string>{133,103}</string>
            </dict>
            <key>daoju_jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>daoju_jiaoyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,924},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>daoju_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,808},{90,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,114}}</string>
                <key>sourceSize</key>
                <string>{90,114}</string>
            </dict>
            <key>kuangti_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{610,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,78}}</string>
                <key>sourceSize</key>
                <string>{610,78}</string>
            </dict>
            <key>kuangti_tongyong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{302,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,149}}</string>
                <key>sourceSize</key>
                <string>{302,149}</string>
            </dict>
            <key>mengban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mengban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,117},{161,808}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,808}}</string>
                <key>sourceSize</key>
                <string>{161,808}</string>
            </dict>
            <key>tubiao_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,528},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>tubiao_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,82},{610,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,33}}</string>
                <key>sourceSize</key>
                <string>{610,33}</string>
            </dict>
            <key>tubiao_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,219},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>tuboao_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,169},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>ui_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{590,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,184}}</string>
                <key>sourceSize</key>
                <string>{590,184}</string>
            </dict>
            <key>ziti_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,904},{184,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,52}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>ziti_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,117},{329,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,50}}</string>
                <key>sourceSize</key>
                <string>{329,50}</string>
            </dict>
            <key>ziti_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,542},{188,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,49}}</string>
                <key>sourceSize</key>
                <string>{188,49}</string>
            </dict>
            <key>ziti_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,958},{144,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,47}}</string>
                <key>sourceSize</key>
                <string>{144,47}</string>
            </dict>
            <key>ziti_yaoqingyouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,169},{189,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,48}}</string>
                <key>sourceSize</key>
                <string>{189,48}</string>
            </dict>
            <key>ziti_yixuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,927},{140,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,47}}</string>
                <key>sourceSize</key>
                <string>{140,47}</string>
            </dict>
            <key>ziti_youxijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{340,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,87}}</string>
                <key>sourceSize</key>
                <string>{340,87}</string>
            </dict>
            <key>ziti_zuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,169},{105,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,51}}</string>
                <key>sourceSize</key>
                <string>{105,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395f690339dc628deb457b4cefb26197$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
