<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,864},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,722},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,864},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,722},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_xiangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,722},{161,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,213}}</string>
                <key>sourceSize</key>
                <string>{161,213}</string>
            </dict>
            <key>anniu_xiangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{163,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,213}}</string>
                <key>sourceSize</key>
                <string>{163,213}</string>
            </dict>
            <key>anniu_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,864},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_zhuyie.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,722},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>kuangti_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{610,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,541}}</string>
                <key>sourceSize</key>
                <string>{610,541}</string>
            </dict>
            <key>kuangti_tongyong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,131},{292,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,139}}</string>
                <key>sourceSize</key>
                <string>{292,139}</string>
            </dict>
            <key>tuboao_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>ui_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,175}}</string>
                <key>sourceSize</key>
                <string>{628,175}</string>
            </dict>
            <key>ziti_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,84},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,46}</string>
            </dict>
            <key>ziti_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,84},{293,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,45}}</string>
                <key>sourceSize</key>
                <string>{293,45}</string>
            </dict>
            <key>ziti_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{195,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,45}}</string>
                <key>sourceSize</key>
                <string>{195,45}</string>
            </dict>
            <key>ziti_youxijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{347,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,80}}</string>
                <key>sourceSize</key>
                <string>{347,80}</string>
            </dict>
            <key>ziti_zuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,937},{109,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,45}}</string>
                <key>sourceSize</key>
                <string>{109,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5afbb5dcf68d6a3d252e9e5a4be0e3a3$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
