<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,334},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,428},{116,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,139}}</string>
                <key>sourceSize</key>
                <string>{116,139}</string>
            </dict>
            <key>anniu_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,286},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,192},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,144},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_xiangyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,545},{161,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,213}}</string>
                <key>sourceSize</key>
                <string>{161,213}</string>
            </dict>
            <key>anniu_xiangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,545},{163,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,213}}</string>
                <key>sourceSize</key>
                <string>{163,213}</string>
            </dict>
            <key>anniu_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,50},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>anniu_zhuyie.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{116,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,140}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>kuangti_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,541}}</string>
                <key>sourceSize</key>
                <string>{610,541}</string>
            </dict>
            <key>kuangti_tongyong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,812},{326,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,106}}</string>
                <key>sourceSize</key>
                <string>{326,106}</string>
            </dict>
            <key>mengban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mengban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{161,808}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,808}}</string>
                <key>sourceSize</key>
                <string>{161,808}</string>
            </dict>
            <key>tuboao_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>ui_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{628,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,175}}</string>
                <key>sourceSize</key>
                <string>{628,175}</string>
            </dict>
            <key>ziti_chongxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,666},{195,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,45}}</string>
                <key>sourceSize</key>
                <string>{195,45}</string>
            </dict>
            <key>ziti_fuhuojixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,571},{195,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,46}}</string>
                <key>sourceSize</key>
                <string>{195,46}</string>
            </dict>
            <key>ziti_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,523},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,46}</string>
            </dict>
            <key>ziti_kaishiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,760},{293,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,45}}</string>
                <key>sourceSize</key>
                <string>{293,45}</string>
            </dict>
            <key>ziti_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,619},{195,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,45}}</string>
                <key>sourceSize</key>
                <string>{195,45}</string>
            </dict>
            <key>ziti_youxijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,920},{347,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,80}}</string>
                <key>sourceSize</key>
                <string>{347,80}</string>
            </dict>
            <key>ziti_zuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,476},{109,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,45}}</string>
                <key>sourceSize</key>
                <string>{109,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e60db733d2b1276d2e95812c1d37f4$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
